body {
    background-color:#262324;
    text-align: center;
  }
  
  main {
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
    box-shadow: 5px 3px 15px rgb(87, 85, 85);
    padding-top: 30px;
  }


h1 {
    font-size: 3em;
    text-align: center;
    text-shadow: 1px 1px #292526;
    color: #CA0F01;
    font-family: monospace;
    margin-top: -10px;
}

.locName{
    margin-top: -25px;
    text-shadow: 1px 1px #f5ce5a;
}

h2 a {
    color:#CA0F01;
    text-shadow: 1px 1px #f5ce5a;
}
h2 a:hover {
    color:#D4CF5D;
    text-decoration: none;
}

h4 {
    margin-bottom: 10px;
}


img {
    margin-left: 0%;
    height: 400px;
    margin-bottom: 2em;
    
}
.burger{
    height: 550px;
}

nav {
    background-color: #CA0F01;
    text-shadow: 1px 1px #292526;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.5em;
}

nav a:hover {
    color:#D4CF5D;
    text-decoration: none;
}

.btn-primary {
    text-shadow: 1px 1px #292526;
    background-color: black;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 3em;
    box-shadow: 1px 1px 5px black;
    border: none;
    text-decoration: none;
}

.btn-primary:hover{
    background-color:#CA0F01;
    border: none;
    text-decoration: none;
}

.row {
    padding-left: 10px;
    padding-right: 10px;
}

label {
    color: #CA0F01;
    
}

.btn-warning {
    margin: 1em;
}



